.Title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.openingParagraph {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}

.bulletList {
  margin-top: 50px;
  margin-left: 50px;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.bulletPoint {
  list-style-type: circle;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  justify-self: left;
}

.link {
  color: #b9b8b5;
}

.contactButtonWrapper {
  position: absolute;
  left: 42%;
  bottom: 15%;
}

.SkillsImage {
  display: inline-block;
  position: absolute;
  width: 55%;
  height: 100%;
  right: 0;
}

.Button {
  display: inline-block;
  background-color: #2e2e2d;
  color: #b9b8b5;
  border: 1px solid #b9b8b5;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  border-radius: 2px;
}

.Button.active {
  background-color: #b9b8b5;
  color: #2e2e2d;
}

.Textbox {
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(120deg, #504f4d 0%, #2e2e2d 100%);
  width: 45%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 10%;
  text-align: center;
  color: #b9b8b5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@media(max-width: 499px) {
  .Title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .openingParagraph {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .bulletList {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
  }
  
  .bulletPoint {
    list-style-type: circle;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    justify-self: left;
  }
  
  .link {
    color: #b9b8b5;
  }
  
  .contactButtonWrapper {
    position: static;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .SkillsImage {
    display: none;
  }
  
  .Button {
    display: inline-block;
    background-color: #2e2e2d;
    color: #b9b8b5;
    border: 1px solid #b9b8b5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    width: 75px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
  }
  
  .Button.active {
    background-color: #b9b8b5;
    color: #2e2e2d;
  }
  
  .Textbox {
    position: absolute;
    background-image: linear-gradient(120deg, #504f4d 0%, #2e2e2d 100%);
    width: 100%;
    height: auto;
    min-height: 100%;
    text-align: center;
    color: #b9b8b5;
  }
}