.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  align-items: center;
  width: 100%;
  color: #2e2e2d;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
  text-decoration: underline;
}

@media(min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    color: #b9b8b5;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .NavigationItem:hover,
  .NavigationItem:active,
  .NavigationItem.active {
    color: white;
  }
}