.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  align-items: center;
  width: 100%;
  color: #3a444b;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
  color: #40A4C8;
}

@media(min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
  }
  
  .NavigationItem {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .NavigationItem:hover,
  .NavigationItem:active,
  .NavigationItem.active {
    background-color: #3a444b;
    border-bottom: 4px solid #40A4C8;
    color: white;
  }
}