.ContactButton {
  text-decoration: none;
  padding: 10px;
  background-color: #b9b8b5;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  border-radius: 2px;
  color: #2e2e2d;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}