.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: left;
  width: 30%;

}

.navItemClone{
  margin: 10px 0;
  display: block;
  width: 100%;
  color: #2e2e2d;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}

.navItemClone:hover,
.navItemClone:active,
.navItemClone.active {
  text-decoration: underline;
}

@media(min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
    height: 100%;
  }

  .navItemClone{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    color: #b9b8b5;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  
  .navItemClone:hover,
  .navItemClone:active,
  .navItemClone.active {
    color: white;
    text-decoration: underline;
  }
}
